<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view assessment</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <section class="content">
        <div class="row">
            <div class="col-xs-6">
                <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">2012-2012 Juan dela Cruz</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                              <th>Attending Physician</th>
                              <th>Date</th>
                              <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td>Muhammad Puting</td>
                              <td>January 5, 2015</td>
                              <td> <button type="submit" class="btn btn-info pull-center">View</button></td>
                            </tr>
                            <tr>
                              <td>Mike Smith</td>
                              <td>February 10, 2015</td>
                              <td><button type="submit"  class="btn btn-info pull-center">View</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
