.header-name{
  color:#fff;
  background-color:#a03741;
}

ul.nav.nav-tabs.nav-justified{
  color:#fff;
  background-color:#a03741;
}

.skin-blue .container-fluid .row .sidebar-menu{
  min-height: 650px;
}

#login-loading-image {
	padding-top: 200px;
}